.quiz {
    margin-top: .5in;
    margin-left: .5in;
    margin-right: .5in;
    margin-bottom: .5in;
}

.btn-primary {
    background-color: darkslategrey;
    border-color: darkslategrey;
}

.btn-secondary {
    background-color: darkcyan;
    border-color: darkcyan;
    margin-right: .1in;
    margin-bottom: .1in;
}

img {
    margin-bottom: .3in;
}