<div class="layout container-fluid" id="content">
    <div class="intro">
        <h1>A Quick Introduction to Binary Numbers</h1>
        <p> 
            Binary numbers are just like normal numbers, except they're a little different. Instead of normal numbers going from 0 to 9,
            they go from 0-1! For example, both rows of numbers below go from 0-10, except they're both in different number systems!
        </p>
        <table class="table d-flex justify-content-center">
            <tbody>
              <tr>
                <th scope="row">Decimal</th>
                <td>0</td>
                <td>1</td>
                <td>2</td>
                <td>3</td>
                <td>4</td>
                <td>5</td>
                <td>6</td>
                <td>7</td>
                <td>8</td>
                <td>9</td>
                <td>10</td>
              </tr>
              <tr>
                <th scope="row">Binary</th>
                <td>0</td>
                <td>1</td>
                <td>10</td>
                <td>11</td>
                <td>100</td>
                <td>101</td>
                <td>110</td>
                <td>111</td>
                <td>1000</td>
                <td>1001</td>
                <td>1010</td>
              </tr>
            </tbody>
          </table>
        <p>
            Hopefully by that example, you can see the pattern of whats going on. Just like the decimal system, each numbers place
            is the equivelent to the base number to that power. In the decimal system, theres the 1s column, the 10s column, and the 100s column, 
            and so on. In binary,
            there's instead 1s column, the 2s column, the 4s column, the 8s column, and so on. Each column out in the binary number system is 
            2 to that numbers power. For example, this is what converting a decimal number to a binary number looks like:
        </p>
        <p class="text-center">
            1101 = 8(1) + 4(1) + 2(0) + 1(1) = 13
        </p>
        <p>
            Just like the decimal numbers, you can also do math with the binary numbers! For example an addition problem would look like the one below:
        </p>
        <p class="text-center">
            1001 + 0110 = 1111 which is also equivelent to 9 + 6 = 15
        </p>
        <p>
            When it comes to subtraction, a thing called two's compliment must be used. This is where the first digit of the binary number indicates if
            the number is positive or negative. If the first number is a 1, then the number is negative. If its a 0, then its positive. This is what it
            looks like converting a twos compliment binary number to a decimal number:
        </p>
        <p class="text-center">
            1101 = -8(1) + 4(1) + 2(0) + 1(1) = -3
        </p>
        <p>
            So when doing a subtraction problem, it would be an addition problem with one of the numbers being negative. The following example is what that
            would look like:
        </p>
        <p class="text-center">
            1101 + 0010 = -3 + 2 = -1
        </p>
        <h3 class="mb-0">Ready to move on? Try the practice problems: </h3>
        <button class="btn btn-primary mt-0 show-button" (click)="showPracticeProblems()">Practice</button>
    </div>
    <div *ngIf="showPractice">
        <h1 class="mt-4">Practice Problems</h1>
        <ul>
            <li id="question">Question 1: What is the jawnt?</li>
            <li>
                <ol>
                    <li><button class="btn btn-outline-info" id="1"
                            (click)="changePracticeQuestion('1')">Answer1</button></li>
                    <li><button class="btn btn-outline-info" id="2"
                            (click)="changePracticeQuestion('2')">Answer2</button></li>
                    <li><button class="btn btn-outline-info" id="3"
                            (click)="changePracticeQuestion('3')">Answer3</button></li>
                    <li><button class="btn btn-outline-info" id="4"
                            (click)="changePracticeQuestion('4')">Answer4</button></li>
                </ol>
            </li>
            <h3 *ngIf="isIncorrect">Incorrect: Try again!</h3>
            <h3 *ngIf="isCorrect">That's correct! Next problem...</h3>
        </ul>
        <h3>Feel prepared? Try the quiz problems below to complete the module</h3>
        <button class="btn btn-primary mt-0 show-button" (click)="showQuizProblems()">Quiz</button>
    </div>
    <div *ngIf="showQuiz">
        <h1 class="mt-4">Quiz Questions</h1>
        <ul>
            <li id="question">Question 1:</li>
            <li>
                <ol>
                    <li><button class="btn btn-outline-info" id="1"
                            (click)="changeQuizQuestion('1')">Answer1</button></li>
                    <li><button class="btn btn-outline-info" id="2"
                            (click)="changeQuizQuestion('2')">Answer2</button></li>
                    <li><button class="btn btn-outline-info" id="3"
                            (click)="changeQuizQuestion('3')">Answer3</button></li>
                    <li><button class="btn btn-outline-info" id="4"
                            (click)="changeQuizQuestion('4')">Answer4</button></li>
                </ol>
            </li>
            <h3 *ngIf="isIncorrect">Incorrect: Try again!</h3>
            <h3 *ngIf="isCorrect">That's correct! Next problem...</h3>
        </ul>
    </div>
</div>