.card {
    background-color: whitesmoke;
    margin-top: .5in;
    margin-bottom: .5in;
    width: 25rem;
    height: 27rem;
}

.card-img-top {
    height: 25rem;
}

.table {
    height: 16rem;
    width: 16rem;
}

.btn-primary {
    background-color: darkslategrey;
    border-color: darkslategrey;
}