.card {
    background-color: whitesmoke;
    width: 25rem;
    margin-top: .5in;
    margin-right: .5in;
    margin-left: .5in;

}

.btn-primary {
    background-color: darkslategrey;
    border-color: darkslategrey;
}

#header {
    background-color: darkslategrey;
    color: white;
    text-align: center;
}


.modal-header {
    background-color: darkslategray;
    color: white;
}