.account {
    margin-top: .5in;
    margin-left: .5in;
    margin-right: .5in;
}

.card {
    background-color: whitesmoke;
    margin-top: .5in;
    margin-bottom: .5in;
}

.btn-primary {
    background-color: darkslategrey;
    border-color: darkslategrey;
}