<div class="layout container-fluid">
    <div class="account">
        <h5>Sign in or create an account!</h5>
        <p>By logging in you can save your circuit designs to study or reference any time you want!</p>

        <div class="card" style="width: 25rem;">
            <div class="card-body">
                <div class="mb-3">
                    <label for="exampleInputEmail1" class="form-label">Email address</label>
                    <input type="email" class="form-control" id="exampleInputEmail1" aria-describedby="emailHelp">
                </div>

                <label for="inputPassword5" class="form-label">Password</label>
                <input type="password" id="inputPassword5" class="form-control" aria-describedby="passwordHelpBlock">
                <p></p>
                <div class="d-flex justify-content-between">
                    <a href="#" class="btn btn-primary">Sign In</a>
                </div>
            </div>
        </div>
    </div>
    <div class="account">

        <div class="card" style="width: 25rem;">
            <div class="card-body">
                <div class="mb-3">
                    <label for="exampleInputEmail1" class="form-label">Email address</label>
                    <input type="email" class="form-control" id="exampleInputEmail1" aria-describedby="emailHelp">
                </div>

                <label for="inputPassword5" class="form-label">Password</label>
                <input type="password" id="inputPassword5" class="form-control" aria-describedby="passwordHelpBlock">
                <p></p>
                <label for="inputPassword5" class="form-label">Confirm Password</label>
                <input type="password" id="inputPassword5" class="form-control" aria-describedby="passwordHelpBlock">
                <p></p>
                <div class="d-flex justify-content-between">
                    <a href="#" class="btn btn-primary">Create an Account</a>
                </div>
            </div>
        </div>
        <div class="card" style="width: 12rem;">
            <div class="card-body">
                <div class="d-flex justify-content-between">
                    <a href="#" class="btn btn-primary"> View Saved Circuits</a>
                </div>
            </div>
        </div>
    </div>


</div>