<body>

    <div class="lesson">
        <div class="intro">
            <h1>Noise Margins</h1>
            <p>
                When signals are pushed through a current they can collect voltage noise by the signal either dropping
                or raising.
                Noise margins are the area where signals can be pushed through a circuit safely.
            </p>
            <div class="figures">
                <img src="/assets/noise.png" />
            </div>
            <p>
                First, we need to define some variables
            </p>
            <p>
                VDD is the high signal with a binary value of 1
            </p>
            <p>
                GND (ground) is the low signal with a binary value of 0
            </p>
            <p>
                VOH is voltage output high and VOL is voltage output low
            </p>
            <p>
                VIH is voltage input high and VIL is voltage input low
            </p>
            <p>
                NMH is noise margin high and NML is noise margin low
            </p>
            <p>
                To calculate the the noies margin high value use the formula... NMH = VOH - VIH
            </p>
            <p>
                To calculate the noise margin low value use the formula... NML = VIL - VOL
            </p>
            <p>
                Both NMH and NML need to be postive for a gate to drive another gate
            </p>
            <p>
            <h3 class="mb-0">Ready to move on? Try the practice problems: </h3>
            <button class="btn btn-primary mt-0 show-button" (click)="showPracticeProblems()">Practice</button>
        </div>
        <div *ngIf="showPractice">
            <h1 class="mt-4">Practice Problems</h1>
            <ul>
                <li id="question"></li>
                <li>
                    <ol>
                        <li><button class="btn btn-outline-info" id="1"
                                (click)="changePracticeQuestion('1')">Answer1</button></li>
                        <li><button class="btn btn-outline-info" id="2"
                                (click)="changePracticeQuestion('2')">Answer2</button></li>
                        <li><button class="btn btn-outline-info" id="3"
                                (click)="changePracticeQuestion('3')">Answer3</button></li>
                        <li><button class="btn btn-outline-info" id="4"
                                (click)="changePracticeQuestion('4')">Answer4</button></li>
                    </ol>
                </li>
                <h3 *ngIf="isIncorrect">Incorrect: Try again!</h3>
                <h3 *ngIf="isCorrect">That's correct! Next problem...</h3>
            </ul>
            <h3>Feel prepared? Try the quiz problems below to complete the module</h3>
            <button class="btn btn-primary mt-0 show-button" (click)="showQuizProblems()">Quiz</button>
        </div>
        <div *ngIf="showQuiz">
            <h1 class="mt-4">Quiz Questions</h1>
            <ul>
                <li id="question">Question 1:</li>
                <li>
                    <ol>
                        <li><button class="btn btn-outline-info" id="1"
                                (click)="changeQuizQuestion('1')">Answer1</button></li>
                        <li><button class="btn btn-outline-info" id="2"
                                (click)="changeQuizQuestion('2')">Answer2</button></li>
                        <li><button class="btn btn-outline-info" id="3"
                                (click)="changeQuizQuestion('3')">Answer3</button></li>
                        <li><button class="btn btn-outline-info" id="4"
                                (click)="changeQuizQuestion('4')">Answer4</button></li>
                    </ol>
                </li>
                <h3 *ngIf="isIncorrect">Incorrect: Try again!</h3>
                <h3 *ngIf="isCorrect">That's correct! Next problem...</h3>
            </ul>
        </div>
    </div>
    <div class="intro">
        <p>
            Image credited to https://vlsibasic.blogspot.com/2015/09/noise-margin.html
        </p>

    </div>

</body>